.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom:blue;
  border-bottom-width: 10px;
  
  
}
.header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  display: flex;
}
.linebreak {
  background-color: #FFB32D;
  height: 5px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container {
  display: flex; /* This makes the container a flex container */
  justify-content: space-between; /* Items are spaced with equal space between them */
  /* align-items: center; Align items vertically in the center */
  
  /* Add additional styles as needed */
}

.box {
  flex: 1; /* This makes sure the boxes take equal space within the container */
  padding: 20px;
  
  /* background-color: #f0f0f0;
  border: 1px solid #ccc; */
  
  /* Add additional styles as needed */
}

/* Media Query for Responsive Views */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack items vertically in small screens */
    align-items: stretch; /* Stretch items to full container width */
  }
  
  .box {
    flex: none; /* Reset flex property to prevent equal width in small screens */
    width: 100%; /* Take full width of the container in small screens */
    margin-bottom: 10px; /* Add some spacing between boxes in small screens */
  }
}
